button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  background-color: var(--tertiary-color);
  transform: scale(0.95);
}
