.pokemon-detalle-todo {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.pokemon-detalle-card {
  background-color: #ffffffcc;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px;
  max-width: 400px;
  text-align: center;
}

.pokemon-detalle-card img {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.pokemon-type {
  padding: 6px 14px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.pokemon-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.pokemon-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pokemon-info h2 {
  text-transform: capitalize;
}

.pokemon-info span {
  text-transform: capitalize;
}

/* los colores para todos los tipos */
.type-fire {
  background-color: #f08030;
}
.type-water {
  background-color: #6890f0;
}
.type-grass {
  background-color: #78c850;
}
.type-electric {
  background-color: #f8d030;
}
.type-normal {
  background-color: #a8a878;
}
.type-bug {
  background-color: #a8b820;
}
.type-flying {
  background-color: #a890f0;
}
.type-ghost {
  background-color: #705898;
}
.type-fairy {
  background-color: #f0a0a0;
}
.type-fighting {
  background-color: #c03028;
}
.type-dragon {
  background-color: #7038f8;
}
.type-ground {
  background-color: #e0c068;
}
.type-poison {
  background-color: #a040a0;
}
.type-psychic {
  background-color: #f85888;
}
.type-rock {
  background-color: #b8a038;
}
.type-steel {
  background-color: #b8b8d0;
}
.type-ice {
  background-color: #98d8d8;
}
