.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.pokemon-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 80px;
  height: 80px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.pokemon-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
}

.background-sprites {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.bg-pokemon {
  position: absolute;
  width: 60px;
  /* opacity: 0.1; */
  pointer-events: none;
}

#selector-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

#selector-container select {
  width: 200px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.3s;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#selector-container select:focus {
  border-color: var(--primary-color);
  outline: none;
}

#pokemonDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.pokemon-sprite-box {
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
}

.pokemon-sprite-box img {
  width: 100%;
  height: auto;
}
