:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #c4d9ff; /* Verde menta suave (Texto) */
  --secondary-color: #a39ad5; /* Background header */
  --tertiary-color: #fbfbfb; /* Main */
  background-color: var(--tertiary-color);
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  margin-top: 100px;
}
